@page "/BuscarRuta"
@using BlazorApp2.Share;
@inject IJSRuntime JSRuntime

<PageTitle>Buscar Ruta</PageTitle>
<div class="route-search-container" style="display: flex; flex-direction:column; align-items:center;">
    <div class="section-title">
    <h3>Buscar Ruta</h3>
    </div>
    <img src="images/mapa.png" witdh="300" height="300" />


<div style="display: flex; flex-direction:column; align-items:center; gap: 5px;">


    <div style="margin-top: 10px; display: flex; flex-direction:column; align-items:center;gap:5px;">
            <div class="section-subtitle">
                <h4>Seleccione la intersección inicial y la final</h4>
            </div>
        <select @bind="valorInicio" class="form-select" style="width:300px;" aria-label="Seleccione el Nodo Inicial" required>
            <option value="" disabled selected hidden>Nodo Inicial...</option>
            <option value="1">Interseccion 1</option>
            <option value="2">Interseccion 2</option>
            <option value="3">Interseccion 3</option>
            <option value="4">Interseccion 4</option>
            <option value="5">Interseccion 5</option>
            <option value="6">Interseccion 6</option>
            <option value="7">Interseccion 7</option>
            <option value="8">Interseccion 8</option>
            <option value="9">Interseccion 9</option>
        </select>
        <select @bind="valorFinal" class="form-select" style="width:300px" aria-label="Seleccione el Nodo Final" required>
            <option value="" disabled selected hidden>Nodo Final...</option>
            <option value="1">Interseccion 1</option>
            <option value="2">Interseccion 2</option>
            <option value="3">Interseccion 3</option>
            <option value="4">Interseccion 4</option>
            <option value="5">Interseccion 5</option>
            <option value="6">Interseccion 6</option>
            <option value="7">Interseccion 7</option>
            <option value="8">Interseccion 8</option>
            <option value="9">Interseccion 9</option>
        </select>
    </div>

    <button class="btn btn-primary" @onclick="BuscarNodo">Buscar Ruta</button>
    <div>
        <canvas id="canvas3" @ref="rutaCanvasRef3" width="400" height="80"
        style="border:1px solid #000; background-color:#f0f0f0;"></canvas>
    </div>
    <div>
        <p>@mensaje</p>
    </div>
</div>
</div>

@code {





    string mensaje = "";

    private ElementReference rutaCanvasRef3;
    private IJSObjectReference? module;
    public Nodo nodo1 = new Nodo();
    public Nodo nodo2 = new Nodo();
    public Nodo nodo3 = new Nodo();
    public Nodo nodo4 = new Nodo();
    public Nodo nodo5 = new Nodo();
    public Nodo nodo6 = new Nodo();
    public Nodo nodo7 = new Nodo();
    public Nodo nodo8 = new Nodo();
    public Nodo nodo9 = new Nodo();

    public string valorInicio = "";

    public string valorFinal = "";


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/map.js");
                Console.WriteLine("Módulo JavaScript cargado correctamente");
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error al cargar módulo JS: {ex.Message}");
            }
        }
    }







    protected override void OnInitialized()
    {
        nodo1.ReferenciaDerecha = nodo2;
        nodo1.Informacion = "1";
        nodo1.TieneSemaforo = false;

        nodo1.viaDerecha = true;
        nodo1.viaIzquierda = false;
        nodo1.viaArriba = false;
        nodo1.viaAbajo = false;

        nodo1.ConteoActualVehiculos = 10;
        nodo1.Id = 1;

        //NODO 2
        nodo2.ReferenciaDerecha = nodo3;
        nodo2.ReferenciaAbajo = nodo5;
        nodo2.TieneSemaforo = true;

        nodo2.viaDerecha = true;
        nodo2.viaIzquierda = false;
        nodo2.viaArriba = false;
        nodo2.viaAbajo = true;
        nodo2.Informacion = "2";
        nodo2.Id = 2;

        //NODO 3
        nodo3.ReferenciaAbajo = nodo6;
        nodo3.Informacion = "3";
        nodo3.TieneSemaforo = false;

        nodo3.viaDerecha = false;
        nodo3.viaIzquierda = false;
        nodo3.viaArriba = false;
        nodo3.viaAbajo = true;
        nodo3.Id = 3;

        //Nodo 4
        nodo4.ReferenciaDerecha = nodo5;
        nodo4.ReferenciaArriba = nodo1;
        nodo4.Informacion = "4";
        nodo4.TieneSemaforo = true;

        nodo4.viaDerecha = true;
        nodo4.viaIzquierda = false;
        nodo4.viaArriba = true;
        nodo4.viaAbajo = false;
        nodo4.Id = 4;

        //Nodo 5
        nodo5.ReferenciaDerecha = nodo6;
        nodo5.ReferenciaIzquierda = nodo4;
        nodo5.ReferenciaAbajo = nodo8;
        nodo5.ReferenciaArriba = nodo2;
        nodo5.Informacion = "5";
        nodo5.TieneSemaforo = true;

        nodo5.viaDerecha = true;
        nodo5.viaIzquierda = true;
        nodo5.viaArriba = true;
        nodo5.viaAbajo = true;
        nodo5.Id = 5;

        //Nodo 6
        nodo6.ReferenciaAbajo = nodo9;
        nodo6.ReferenciaIzquierda = nodo5;
        nodo6.Informacion = "6";
        nodo6.TieneSemaforo = true;

        nodo6.viaDerecha = false;
        nodo6.viaIzquierda = true;
        nodo6.viaArriba = false;
        nodo6.viaAbajo = true;
        nodo6.Id = 6;

        //Nodo 7
        nodo7.ReferenciaArriba = nodo4;
        nodo7.Informacion = "7";
        nodo7.TieneSemaforo = false;

        nodo7.viaDerecha = false;
        nodo7.viaIzquierda = false;
        nodo7.viaArriba = true;
        nodo7.viaAbajo = false;
        nodo7.Id = 7;

        //Nodo 8
        nodo8.ReferenciaIzquierda = nodo7;
        nodo8.ReferenciaArriba = nodo5;
        nodo8.TieneSemaforo = true;
        nodo8.Informacion = "8";

        nodo8.viaDerecha = false;
        nodo8.viaIzquierda = true;
        nodo8.viaArriba = true;
        nodo8.viaAbajo = false;
        nodo8.Id = 8;

        //Nodo 9
        nodo9.ReferenciaIzquierda = nodo8;
        nodo9.Informacion = "9";
        nodo9.TieneSemaforo = false;

        nodo9.viaDerecha = false;
        nodo9.viaIzquierda = true;
        nodo9.viaArriba = false;
        nodo9.viaAbajo = false;
        nodo9.Id = 9;

    }

    public async void DibujarRutaAyB(string ruta)
    {
        await module.InvokeVoidAsync("limpiarCanvas", rutaCanvasRef3);
        await module.InvokeVoidAsync("dibujarRutaDeNodos", ruta, rutaCanvasRef3);
    }
    public async Task BuscarNodo()
    {
        Nodo[] camino;
        Nodo inicial = ObtenerNodoPorValor(valorInicio);
        Nodo final = ObtenerNodoPorValor(valorFinal);
        int pasos = Nodo.Buscar(inicial, final, out camino);
        string nodosVisitados = "";

        if (pasos != -1)
        {
            for (int i = 0; i < pasos; i++)
            {
                nodosVisitados += camino[i].Informacion + ";";
            }

            DibujarRutaAyB(nodosVisitados);

            HttpClient httpClient = new HttpClient();
            var response = await httpClient.GetAsync("https://localhost:7108/api/DetalleSemaforo/SumaAyB?nodos=" + nodosVisitados);
            if (response.IsSuccessStatusCode)
            {
                var responseBody = response.Content.ReadAsStringAsync().Result;
                mensaje = ("El flujo vehicular de esta ruta es de: " + responseBody);
            }
            else
            {
                mensaje = ("Error en la solicitud: " + response.StatusCode);
            }
        }
        else
        {
            Console.WriteLine("No se encontró camino.");
        }
    }

    public Nodo ObtenerNodoPorValor(string valor)
    {
        return valor switch
        {
            "1" => nodo1,
            "2" => nodo2,
            "3" => nodo3,
            "4" => nodo4,
            "5" => nodo5,
            "6" => nodo6,
            "7" => nodo7,
            "8" => nodo8,
            "9" => nodo9,
            _ => null
        };
    }



}